.container {
    display: grid;
    grid-template: repeat(2, 100px) / repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    grid-auto-rows: 100px;
} 

div {
    color: white;    
    font-size: 30px;                       
    text-transform: uppercase;     
    text-align: center;           
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#a1 {
    background-color: aquamarine;                
}
#a2 {
    background-color: brown;
}
#a3 {
    background-color: chartreuse;
}
#a4 {
    background-color: crimson;
}

#a1:hover {
    box-shadow: 10px 5px 5px gray;
}
#a2:hover {
    box-shadow: 10px 5px 5px gray;
}
#a3:hover {
    box-shadow: 10px 5px 5px gray;
}
#a4:hover {
    box-shadow: 10px 5px 5px gray;
}